<%- include("./partials/head") %>
<!-- <%- include("./partials/header") %> -->

<main>
    
    <nav id="navbar">
        <div id="navbar-container">
            <h1 class="logo">Apollo TECH</h1>
            <ul id="navbar-itens">
                <li><a href="/">Início</a></li>
                <li><a href="">Cursos</a></li>
                <li><a href="/alunos">Área do Professor</a></li>
            </ul>
        </div>
    </nav>
    <div id="banner">
        <div class="banner-container">
            <img src="/img/banner.png" alt="">
        </div>
    </div>
    <section id="cursos">
        <div class="titulo">Cursos</div>
        <div class="cursos-container">
            <div class="curso">
                <span>Desenvolvimento Front-end</span>
                
            </div>
            <div class="curso">
                <span>Desenvolvimento Back-end</span>

            </div>
            <div class="curso">
                <span>Desenvolvimento Mobile iOS</span>

            </div>
            <div class="curso">
                <span>Desenvolvimento Mobile Android</span>

            </div>
            <div class="curso">
                <span>Segurança da informação</span>

            </div>
            <div class="curso">
                <span>UX/UI Designer</span>

            </div>

        </div>
    </section>
    <section id="vantagens">
        <div class="titulo">Vantagens da nossa plataforma</div>
        <div class="vantagens-container">
            <div class="vantagem">
                <i class="fa-solid fa-user-clock fa-4x"></i>
                <span class="vantagens-titulo">Acesso vitalício</span>
            </div>
            <div class="vantagem">
                <i class="fa-solid fa-cloud-arrow-up fa-4x"></i>
                <span class="vantagens-titulo">Conteúdo atualizado regularmente</span>
            </div>
            <div class="vantagem">
                <i class="fa-solid fa-calendar-days fa-4x"></i>
                <span class="vantagens-titulo">Plano de estudos</span>
            </div>
        </div>
    </section>
    <section id="depoimentos">
        <div class="titulo">
            Avaliações dos nossos alunos
        </div>
        <div class="depoimentos-container">
            <div class="depoimento">
                <img src="/img/aluno1.jpg" alt="" class="foto-aluno">
                <p>Curso muito completo, ótima didática, os assuntos mais complexos se tornam simples de entender. </p>
            </div>
        </div>
        <div class="depoimentos-container">
            <div class="depoimento">
                <img src="/img/aluno2.jpg" alt="" class="foto-aluno">
                <p>Esse curso me abriu muitas portas, recomendo demais!</p>
            </div>
        </div>
        <div class="depoimentos-container">
            <div class="depoimento">
                <img src="/img/aluno3.jpg" alt="" class="foto-aluno">
                <p>Melhor conteúdo que encontrei sobre o assunto. Aprendi muito.</p>
            </div>
        </div>
        <div class="depoimentos-container">
            <div class="depoimento">
                <img src="/img/aluno4.jpg" alt="" class="foto-aluno">
                <p>Além do conteúdo excelente, os professores são muito capacitados e atenciosos.</p>
            </div>
        </div>
    </section>
</main>


<%- include("./partials/footer") %>
