@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    font-family: 'Roboto', sans-serif;
}

#deletar{
    justify-content: center;
}

#aluno-delete{
    text-align: center;
    width: 80vw;
    background-color: #e5e5e5;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-radius: 10px;
    position: relative;
    top: 100px;
    text-align: center;
}
.iconefotodel img{
    justify-content: center;
    position: relative;
    height: 200px;
    width: auto;
    border-radius: 50%;
    margin: 15px;
}


@media screen and (max-width: 768px){
    #aluno-delete{
        top: 230px;
        font-size: 0.9rem;
    }
    
} 